---
title: TIY Durham Q3 Rails
---

<div class="row">
  <div class="large-12 columns">
    <h1>TIY Durham Ruby on Rails class <small>Summer 2014</small></h1>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <p>
      Welcome to the Durham Ruby on Rails class for Summer 2014! This site will contain references and resources for you to use while taking the class.
    </p>
    <ul>
      <li>
        <%= link_to "Syllabus", "syllabus.html" %>
      </li>
      <li><a href="prework.html">Recommended work before class</a></li>
      <li><a href="setup/index.html">Setup</a></li>
      <li><a href="resources.html">Resources</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li>
        <a href="https://github.com/tiy-durham-q3-rails/tiy-durham-q3-rails.github.io/wiki">
          Class Wiki
        </a>
      </li>
      <li>
        <a href="https://basecamp.com/1940253/projects/6016749">
          Class Basecamp
        </a>
      </li>
    </ul>
    <h2>Students</h2>
    <ul>
      <% data.students.each do |name, gh_profile| %>
        <li><%= link_to name, gh_profile %></li>
      <% end %>
    </ul>
  </div>
  <div class="large-4 columns">
    <div class="panel callout radius">
      <h4>Updates</h4>
      <ul>
        <li><b>20 Jun 2014</b> - Added regular expression resources</li>
      </ul>
    </div>
  </div>
</div>
