---
title: TIY Durham Q3 Rails
---

<div class="row">
  <div class="large-12 columns">
    <h1>TIY Durham Ruby on Rails class <small>Summer 2014</small></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p>
      Welcome to the Durham Ruby on Rails class for Summer 2014! This site will contain references and resources for you to use while taking the class.
    </p>
    <ul>
      <li><a href="syllabus.html">Syllabus</a></li>
      <li><a href="prework.html">Recommended work before class</a></li>
      <li><a href="setup/index.html">Setup</a></li>
      <li><a href="resources.html">Resources</a></li>
    </ul>
  </div>
</div>
